:root {
    --accent-color: #65216A;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: whitesmoke;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(216, 216, 216);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

//Global styles

button {
    border: none;
    background: var(--accent-color);
    color: white;
    font-size: 1.2rem;
    padding: 6px 12px 10px 12px;
    border-radius: 2px;
    transition: box-shadow 100ms ease, filter 200ms ease;

    cursor: pointer;

    /* &:hover {
        box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.158);
    } */
}

.disabled-button {
    filter: grayscale(1);
    cursor: not-allowed;
}

.intro-sequence {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background: rebeccapurple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms ease;

    h1 {
        color: #FFFFFF;
        text-align: center;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        position: relative;
    }

    h1:after {
        position: absolute;
        content: "";
        -webkit-animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
        animation: Dots 2s cubic-bezier(0, .39, 1, .68) infinite;
    }


    .loader {
        margin: 5% auto 30px;
        transition: opacity 500ms ease,
            height 500ms ease, margin 500ms ease;
    }

    .book {
        border: 4px solid #FFFFFF;
        width: 60px;
        height: 45px;
        position: relative;
        perspective: 150px;
    }

    .page {
        display: block;
        width: 30px;
        height: 45px;
        border: 4px solid #FFFFFF;
        border-left: 1px solid #8455b2;
        margin: 0;
        position: absolute;
        right: -4px;
        top: -4px;
        overflow: hidden;
        background: #8455b2;
        transform-style: preserve-3d;
        -webkit-transform-origin: left center;
        transform-origin: left center;
    }

    .book .page:nth-child(1) {
        -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
        animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.6s infinite;
    }

    .book .page:nth-child(2) {
        -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
        animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.45s infinite;
    }

    .book .page:nth-child(3) {
        -webkit-animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
        animation: pageTurn 1.2s cubic-bezier(0, .39, 1, .68) 1.2s infinite;
    }


    /* Page turn */

    @-webkit-keyframes pageTurn {
        0% {
            -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
        }

        20% {
            background: #4b1e77;
        }

        40% {
            background: rebeccapurple;
            -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
        }

        100% {
            background: rebeccapurple;
            -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
        }
    }

    @keyframes pageTurn {
        0% {
            transform: rotateY(0deg);
        }

        20% {
            background: #4b1e77;
        }

        40% {
            background: rebeccapurple;
            transform: rotateY(-180deg);
        }

        100% {
            background: rebeccapurple;
            transform: rotateY(-180deg);
        }
    }

}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein-left {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadein-right {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* @keyframes blur-in {
    0% {
        //backdrop-filter: blur(0px) brightness(1);
        opacity: 0;
    }

    100% {
        opacity: 1;
        //backdrop-filter: blur(12px) brightness(.8);
    }
} */