.chat-page {
  --height: calc(100vh - 55px);
  height: var(--height);
}

.chat-page .chat-screen {
  position: relative;
  background: whitesmoke;
  height: var(--height);
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat-page .chat-screen .message-view {
  height: 100%;
  margin-top: auto;
  margin: auto;
}

.chat-page .chat-screen .messages-container {
  height: 100%;
  padding-top: 70px;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .group-message {
                #group-sender {
                    display: block;
                }

                #sent-message>h1{
                    display: none;
                }
            } */
}

.chat-page .chat-screen .messages-container .messages-view {
  padding-bottom: 70px;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
  min-width: 600px;
}

@media only screen and (max-width: 850px) {
  .chat-page .chat-screen .messages-container .messages-view {
    width: 100%;
    min-width: 100%;
  }
}

.chat-page .chat-screen .messages-container .message {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0 12px 12px 0;
  padding: 10px 16px;
  margin: 8px 10px;
  white-space: pre-wrap;
  background: rgba(226, 151, 255, 0.212);
  -webkit-animation: fadein 600ms forwards ease;
          animation: fadein 600ms forwards ease;
}

.chat-page .chat-screen .messages-container .message span {
  line-height: 1.6rem;
  display: block;
  max-width: 300px;
  word-wrap: break-word;
  font-weight: 500;
}

.chat-page .chat-screen .messages-container .message h1 {
  display: none;
  font-size: 1rem;
}

.chat-page .chat-screen .messages-container .message #date-time {
  color: #707070;
  font-size: .8rem;
  opacity: 0;
  height: 0;
  -webkit-transition: opacity 200ms ease, height 300ms ease;
  transition: opacity 200ms ease, height 300ms ease;
}

.chat-page .chat-screen .messages-container .message:hover #date-time {
  color: #707070;
  font-size: .8rem;
  opacity: 1;
  height: 20px;
}

.chat-page .chat-screen .messages-container #sent-message {
  margin-left: auto;
  background: white;
  -webkit-animation: fadein 600ms forwards ease;
          animation: fadein 600ms forwards ease;
  border-radius: 12px 0 0 12px;
  -webkit-transition: background 500ms ease;
  transition: background 500ms ease;
}

.chat-page .chat-screen .messages-container #sent-message > h1 {
  display: none;
}

.chat-page .chat-screen .messages-container #group-sender {
  display: block;
}

.chat-page .chat-screen .message-input {
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: rgba(255, 255, 255, 0.596);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadein 600ms forwards ease;
          animation: fadein 600ms forwards ease;
}

.chat-page .chat-screen .message-input textarea {
  padding: 10px;
  font-size: 1.2rem;
  line-height: 100%;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  resize: none;
  background: whitesmoke;
}

.chat-page .chat-screen .message-input .send-btn {
  padding: 0 10px;
}

.chat-page .chat-screen .message-input .send-btn img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(60%);
          filter: invert(60%);
}

.chat-page .chat-screen .contact-header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.438);
  -webkit-transition: -webkit-backdrop-filter 200ms ease;
  transition: -webkit-backdrop-filter 200ms ease;
  transition: backdrop-filter 200ms ease;
  transition: backdrop-filter 200ms ease, -webkit-backdrop-filter 200ms ease;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-animation: fadein 800ms forwards ease;
          animation: fadein 800ms forwards ease;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.chat-page .chat-screen .contact-header:hover {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.842);
}

.chat-page .chat-screen .contact-header h4 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.chat-page .chat-screen .contact-header img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat-page .chat-screen .contact-header .about {
  padding-left: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-page .chat-screen .contact-header .about h4 {
  font-size: 1.2rem;
}

.chat-page .chat-screen .contact-header .about .edit-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  -webkit-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
}

.chat-page .chat-screen .contact-header .about:hover .edit-icon {
  opacity: 1;
  pointer-events: all;
}

.chat-page .chat-screen .contact-header .about img {
  margin-left: auto;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.chat-page .menu {
  background: white;
  position: relative;
  height: var(--height);
  overflow: hidden;
  padding-bottom: 70px;
  -webkit-animation: fadein-left 400ms forwards ease;
          animation: fadein-left 400ms forwards ease;
}

.chat-page .menu header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 20px;
  padding-bottom: 10px;
  top: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.chat-page .menu header img {
  width: 35px;
  height: 35px;
  /* filter: invert(1); */
}

.chat-page .menu header h2 {
  margin-left: 10px;
}

.chat-page .menu .conversation-list {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
  padding-bottom: 60px;
}

.chat-page .menu .conversation {
  width: 230px;
  padding: 10px 12px;
  margin: 10px;
  margin-right: 20px;
  background: whitesmoke;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: background 100ms ease;
  transition: background 100ms ease;
  cursor: pointer;
  -webkit-animation: fadein-left 500ms forwards ease;
          animation: fadein-left 500ms forwards ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* &:hover {
                background: rgb(223, 223, 223);
            } */
}

.chat-page .menu .conversation .about {
  padding-left: 10px;
}

.chat-page .menu .conversation .about h4 {
  word-wrap: break-word;
}

.chat-page .menu .conversation img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.chat-page .menu .menu-options {
  position: absolute;
  bottom: 0;
  padding: 20px;
  background: rgba(245, 245, 245, 0.541);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: -webkit-backdrop-filter 200ms ease;
  transition: -webkit-backdrop-filter 200ms ease;
  transition: backdrop-filter 200ms ease;
  transition: backdrop-filter 200ms ease, -webkit-backdrop-filter 200ms ease;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-page .menu .menu-options:hover {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.chat-page .menu .menu-options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.chat-page .menu .menu-options img {
  width: 30px;
  height: 30px;
}

.chat-page .menu .menu-options span {
  margin-left: 10px;
}

.chat-page .start-chat {
  width: 100%;
  height: var(--height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: whitesmoke;
  -webkit-animation: fadein-right 800ms forwards ease;
          animation: fadein-right 800ms forwards ease;
}

.chat-page .start-chat > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-page .start-chat > div h2 {
  margin-left: 10px;
}

.chat-page .start-chat img {
  width: 256px;
  height: 256px;
  -o-object-fit: contain;
     object-fit: contain;
}

.chat-page .conversation-add {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: fadein 150ms forwards ease;
          animation: fadein 150ms forwards ease;
  z-index: 110;
  -webkit-backdrop-filter: blur(12px) brightness(0.8);
          backdrop-filter: blur(12px) brightness(0.8);
}

.chat-page .conversation-add .participants {
  background: white;
  border-radius: 4px;
  margin-top: 8px;
  padding: 5px;
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chat-page .conversation-add .participants .participant {
  margin: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px;
  background: #e6e6e6;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat-page .conversation-add .participants .participant img {
  cursor: pointer;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat-page .conversation-add .suggestions {
  padding: 10px;
  padding-top: 15px;
  background: white;
  margin-bottom: 10px;
  border-radius: 4px;
  max-height: 100px;
  overflow-y: scroll;
}

.chat-page .conversation-add .suggestions::-webkit-scrollbar {
  display: none;
}

.chat-page .conversation-add .suggestions .suggestion {
  padding-bottom: 2px;
  margin-bottom: 5px;
  border-bottom: 1px solid #acacac;
  cursor: pointer;
}

.chat-page .conversation-add .suggestions .suggestion h4 {
  font-size: .8rem;
}

.chat-page .conversation-add .suggestions .suggestion p {
  font-size: .7rem;
}

.chat-page .conversation-add span {
  display: block;
}

.chat-page .conversation-add button {
  padding-bottom: 8px;
  font-size: 1rem;
  border-radius: 4px;
}

.chat-page .conversation-add input {
  margin: 10px 0;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 12px;
  border-radius: 4px;
}

.group-conversation {
  max-height: 120px;
}

.group-conversation img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background: white;
}

.group-conversation .about {
  overflow: hidden;
}

#opened-conversation {
  background: var(--accent-color);
  color: white;
}

.message-block {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 10px;
}

.message-block > span {
  font-weight: 800;
}

.message-block .messages-2 {
  margin-left: 10px;
}

.message-block .messages-2 > :first-child {
  border-top-right-radius: 12px;
}

.message-block .messages-2 > :nth-last-child(2) {
  border-bottom-right-radius: 12px;
}

.message-block .message-2 {
  margin: 5px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 12px;
  background-color: var(--accent-color);
  color: white;
  font-weight: 500;
  border-radius: 3px;
}

#sender {
  margin-left: auto;
  padding-left: 0;
  padding-right: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#sender .messages-2 {
  margin-right: 10px;
}

#sender .messages-2 > span {
  display: block;
  text-align: right;
}

#sender .messages-2 > :first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 0;
}

#sender .messages-2 > :nth-last-child(2) {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 0;
}

#sender .message-2 {
  background-color: white;
  margin-left: auto;
  color: black;
}

@-webkit-keyframes loader {
  50% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0.3;
  }
}

@keyframes loader {
  50% {
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    opacity: 0.3;
  }
}

.loader {
  width: 100px;
  height: 15px;
  margin: 0 auto;
}

.loader > div {
  height: 10px;
  width: 10px;
  background-color: var(--accent-color);
  float: left;
  margin: 0 5px 0 0;
  -webkit-animation: loader 0.7s infinite;
          animation: loader 0.7s infinite;
  opacity: 0.5;
  border-radius: 50%;
}

.loader > div:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.loader > div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader > div:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.loader > div:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader > div:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.unread-conversation {
  border-right: 4px solid #6eff51 !important;
}
/*# sourceMappingURL=chat-page.css.map */