.chat-page {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30vw 1fr;
      grid-template-columns: 30vw 1fr;
}

.chat-page .chat-screen {
  position: relative;
  background: whitesmoke;
  height: 100vh;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat-page .chat-screen .message-view {
  height: 100%;
  margin-top: auto;
}

.chat-page .chat-screen .messages-container {
  height: 100%;
  padding-top: 70px;
}

.chat-page .chat-screen .messages-container .messages-view {
  padding-bottom: 70px;
}

.chat-page .chat-screen .messages-container .message {
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 12px;
  background: rgba(226, 151, 255, 0.212);
  margin: 10px;
  -webkit-animation: fadein-left 350ms forwards ease;
          animation: fadein-left 350ms forwards ease;
}

.chat-page .chat-screen .messages-container #sent-message {
  margin-left: auto;
  background: white;
  -webkit-animation: fadein-right 350ms forwards ease;
          animation: fadein-right 350ms forwards ease;
}

.chat-page .chat-screen .messages-container .message-input {
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 70vw;
  height: 60px;
  background: rgba(255, 255, 255, 0.596);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadein 600ms forwards ease;
          animation: fadein 600ms forwards ease;
}

.chat-page .chat-screen .messages-container .message-input textarea {
  padding: 10px;
  font-size: 1.2rem;
  line-height: 100%;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  resize: none;
  background: whitesmoke;
}

.chat-page .chat-screen .messages-container .message-input .send-btn {
  padding: 0 10px;
}

.chat-page .chat-screen .messages-container .message-input .send-btn img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: invert(60%);
          filter: invert(60%);
}

.chat-page .chat-screen .contact-header {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.438);
  -webkit-transition: -webkit-backdrop-filter 200ms ease;
  transition: -webkit-backdrop-filter 200ms ease;
  transition: backdrop-filter 200ms ease;
  transition: backdrop-filter 200ms ease, -webkit-backdrop-filter 200ms ease;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-animation: fadein 800ms forwards ease;
          animation: fadein 800ms forwards ease;
  position: fixed;
  top: 0;
}

.chat-page .chat-screen .contact-header:hover {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.842);
}

.chat-page .chat-screen .contact-header img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  -o-object-fit: cover;
     object-fit: cover;
}

.chat-page .chat-screen .contact-header .about {
  padding-left: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-page .chat-screen .contact-header .about img {
  margin-left: auto;
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.chat-page .menu {
  background: white;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  padding-bottom: 70px;
  -webkit-animation: fadein-left 400ms forwards ease;
          animation: fadein-left 400ms forwards ease;
}

.chat-page .menu header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 20px;
  padding-bottom: 10px;
  top: 0;
  z-index: 10;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.chat-page .menu header img {
  width: 35px;
  height: 35px;
  /* filter: invert(1); */
}

.chat-page .menu header h2 {
  margin-left: 10px;
}

.chat-page .menu .conversation-list {
  overflow-y: scroll;
}

.chat-page .menu .conversation {
  padding: 10px 12px;
  margin: 10px;
  margin-right: 0;
  background: whitesmoke;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background 100ms ease;
  transition: background 100ms ease;
  cursor: pointer;
  -webkit-animation: fadein-left 500ms forwards ease;
          animation: fadein-left 500ms forwards ease;
}

.chat-page .menu .conversation .about {
  padding-left: 10px;
}

.chat-page .menu .conversation .about h4 {
  word-wrap: break-word;
}

.chat-page .menu .conversation img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.chat-page .menu .conversation:hover {
  background: #dfdfdf;
}

.chat-page .menu .menu-options {
  position: fixed;
  bottom: 0;
  padding: 20px;
  background: rgba(245, 245, 245, 0.541);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: -webkit-backdrop-filter 200ms ease;
  transition: -webkit-backdrop-filter 200ms ease;
  transition: backdrop-filter 200ms ease;
  transition: backdrop-filter 200ms ease, -webkit-backdrop-filter 200ms ease;
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-page .menu .menu-options:hover {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.chat-page .menu .menu-options .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.chat-page .menu .menu-options img {
  width: 30px;
  height: 30px;
}

.chat-page .menu .menu-options span {
  margin-left: 10px;
}

.chat-page .start-chat {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: whitesmoke;
  -webkit-animation: fadein-right 800ms forwards ease;
          animation: fadein-right 800ms forwards ease;
}

.chat-page .start-chat img {
  width: 256px;
  height: 256px;
  -o-object-fit: contain;
     object-fit: contain;
}

.group-conversation {
  max-height: 120px;
}

.group-conversation img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  background: white;
}

.group-conversation .about {
  overflow: hidden;
}

#opened-conversation {
  background: var(--accent-color);
  color: white;
}
/*# sourceMappingURL=chat-page.css.map */