.dummy-header {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.chat-page {
    --height: calc(100vh - 55px);
    height: var(--height);
    // display: flex;


    .chat-screen {
        position: relative;
        background: whitesmoke;
        height: var(--height);
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        // max-width: 600px;

        .message-view {
            height: 100%;
            margin-top: auto;
            margin: auto;
        }

        .messages-container {
            height: 100%;
            padding-top: 70px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;

            .messages-view {
                padding-bottom: 70px;
                transition: all 600ms ease;
                min-width: 600px;

                @media only screen and (max-width: 850px) {
                    width: 100%;
                    min-width: 100%;

                }
            }



            #sent-message {
                margin-left: auto;
                background: white;
                animation: fadein 600ms forwards ease;
                border-radius: 12px 0 0 12px;
                transition: background 500ms ease;

                &>h1 {
                    display: none;
                }
            }

            #group-sender {
                display: block;

            }



            /* .group-message {
                #group-sender {
                    display: block;
                }

                #sent-message>h1{
                    display: none;
                }
            } */


        }

        .message-input {
            padding: 10px;

            position: fixed;
            bottom: 0;
            width: 100%;
            height: 60px;
            background: rgba(255, 255, 255, 0.596);
            backdrop-filter: blur(8px);
            display: flex;
            align-items: center;
            animation: fadein 600ms forwards ease;

            textarea {
                padding: 10px;
                font-size: 1.2rem;
                line-height: 100%;
                border: none;
                outline: none;
                width: 100%;
                height: 100%;
                resize: none;
                background: whitesmoke;
            }

            .send-btn {
                padding: 0 10px;

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: contain;
                    filter: invert(60%);
                }
            }
        }

        .contact-header {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            background: rgba(255, 255, 255, 0.438);
            transition: backdrop-filter 200ms ease;
            backdrop-filter: blur(4px);

            animation: fadein 800ms forwards ease;
            z-index: 100;

            &:hover {
                backdrop-filter: blur(8px);
                background: rgba(255, 255, 255, 0.842);
            }

            position: sticky;
            top: 0;

            h4 {
                height: fit-content;
            }

            img {
                border-radius: 50%;
                width: 45px;
                height: 45px;
                object-fit: cover;
            }

            .about {
                padding-left: 10px;
                width: 100%;
                display: flex;
                align-items: center;

                h4 {
                    font-size: 1.2rem;
                }

                .edit-icon {
                    margin-left: 10px;
                    width: 20px;
                    height: 20px;
                    opacity: 0;
                    pointer-events: none;
                    cursor: pointer;
                    transition: opacity 100ms ease;
                }

                &:hover {
                    .edit-icon {
                        opacity: 1;
                        pointer-events: all;
                    }
                }

                img {
                    margin-left: auto;
                    width: 20px;
                    height: 20px;
                    object-fit: cover;
                    cursor: pointer;
                }

            }
        }
    }

    .menu {

        background: white;
        position: relative;

        height: var(--height);
        overflow: hidden;
        margin-top: 55px;
        padding-bottom: 70px;

        animation: fadein-left 400ms forwards ease;

        header {

            width: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            position: sticky;
            padding: 20px;
            padding-bottom: 10px;
            top: 0;
            z-index: 10;
            backdrop-filter: blur(10px);

            img {
                width: 35px;
                height: 35px;
                /* filter: invert(1); */
            }

            h2 {
                margin-left: 10px;
            }

        }

        .conversation-list {
            height: 100%;

            overflow-y: scroll;
            padding-right: 10px;
            padding-bottom: 60px;
        }

        .conversation {

            width: 230px;
            padding: 10px 12px;
            margin: 10px;
            margin-right: 20px;
            background: whitesmoke;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            transition: background 100ms ease;
            cursor: pointer;

            animation: fadein-left 500ms forwards ease;

            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            //border-right: 7px solid rgb(143, 255, 143);

            .about {
                padding-left: 10px;

                h4 {
                    word-wrap: break-word;
                }
            }

            img {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 50%;
            }

            /* &:hover {
                background: rgb(223, 223, 223);
            } */
        }



        .menu-options {
            position: absolute;
            bottom: 0;
            padding: 20px;

            background: rgba(245, 245, 245, 0.541);

            backdrop-filter: blur(5px);
            transition: backdrop-filter 200ms ease;

            &:hover {
                backdrop-filter: blur(8px);
            }

            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;

            .option {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

            img {
                width: 30px;
                height: 30px;
            }

            span {
                margin-left: 10px;
            }

        }


    }

    .start-chat {
        width: 100%;
        height: var(--height);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: whitesmoke;
        animation: fadein-right 800ms forwards ease;

        &>div {
            display: flex;
            align-items: center;

            h2 {
                margin-left: 10px;
            }
        }

        img {
            width: 256px;
            height: 256px;
            object-fit: contain;
        }
    }

    .conversation-add {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        animation: fadein 150ms forwards ease;

        z-index: 110;

        backdrop-filter: blur(12px) brightness(.8);

        .participants {
            background: white;
            border-radius: 4px;
            margin-top: 8px;
            padding: 5px;
            max-width: 250px;
            display: flex;
            flex-wrap: wrap;

            .participant {
                margin: 5px;
                width: fit-content;
                padding: 4px 8px;
                background: rgb(230, 230, 230);
                border-radius: 3px;
                display: flex;
                align-items: center;
                justify-content: space-between;


                img {
                    cursor: pointer;
                    margin-left: 10px;
                    width: 15px;
                    height: 15px;
                    object-fit: cover;
                }
            }
        }

        .suggestions {
            padding: 10px;
            padding-top: 15px;
            background: white;
            margin-bottom: 10px;
            border-radius: 4px;
            max-height: 100px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            .suggestion {
                padding-bottom: 2px;
                margin-bottom: 5px;
                border-bottom: 1px solid rgb(172, 172, 172);
                cursor: pointer;

                h4 {
                    font-size: .8rem;
                }

                p {
                    font-size: .7rem;
                }
            }
        }

        span {
            display: block;
        }

        .users-input {}

        button {
            padding-bottom: 8px;
            font-size: 1rem;
            border-radius: 4px;
        }

        input {
            margin: 10px 0;
            width: 100%;
            outline: none;
            border: none;
            padding: 10px 12px;
            border-radius: 4px;
        }
    }
}


.group-conversation {

    max-height: 120px;

    img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
        background: white;
    }

    .about {
        overflow: hidden;
        text-align: left;

        h4 {
            text-overflow: ellipsis;
        }
    }



}

#opened-conversation {
    background: var(--accent-color);
    color: white;
}

.message-block {

    width: fit-content;
    display: flex;
    align-items: flex-end;
    padding-left: 10px;
    padding-bottom: 25px;

    &>span {
        font-weight: 800;
    }

    .messages {
        margin-left: 10px;
        max-width: 300px;

        &>:first-child {
            border-top-right-radius: 12px;
        }

        &>:nth-last-child(2) {
            border-bottom-right-radius: 12px;
        }
    }

    .message {
        margin: 2px 0;
        width: fit-content;
        padding: 10px 12px;
        background-color: var(--accent-color);
        color: white;
        font-weight: 500;
        border-radius: 3px;
    }
}



#sender {
    margin-left: auto;
    padding-left: 0;
    padding-right: 10px;
    flex-direction: row-reverse;

    .messages {
        margin-right: 10px;

        &>span {
            display: block;
            text-align: right;
        }

        &>:first-child {
            border-top-left-radius: 12px;
            border-top-right-radius: 0;
        }

        &>:nth-last-child(2) {
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 0;
        }
    }

    .message {
        background-color: white;
        margin-left: auto;
        color: black;
        display: flex;
        flex-direction: column;

        span {
            display: block;
        }

        svg {
            width: 15px;
            height: 15px;
            margin-left: auto;
            margin-top: 4px;
        }
    }
}



// indicators

@keyframes loader {
    50% {
        filter: blur(5px);
        transform: translateY(-10px);
        opacity: 0.3;
    }
}

.loader {
    width: 100px;
    height: 15px;
    margin: 0 auto;
}

.loader>div {
    height: 10px;
    width: 10px;
    background-color: var(--accent-color);
    float: left;
    margin: 0 5px 0 0;
    animation: loader 0.7s infinite;
    opacity: 0.5;
    border-radius: 50%;
}

.loader>div:nth-child(1) {
    animation-delay: 0.1s;
}

.loader>div:nth-child(2) {
    animation-delay: 0.2s;
}

.loader>div:nth-child(3) {
    animation-delay: 0.3s;
}

.loader>div:nth-child(4) {
    animation-delay: 0.4s;
}

.loader>div:nth-child(5) {
    animation-delay: 0.5s;
}

.unread-conversation {
    border-right: 4px solid rgb(110, 255, 81) !important;
}